/* hidden by default */
flex { display: none; }

/* initialized element */
._fx { display: block; }

/* vertical container */
._fxc { display: flex; flex-direction: column; }
/* vertical reversed container */
._fxcr { display: flex; flex-direction: column-reverse; }
/* vertical children */
._fxc > * { width: auto; height: 100%; }

/* horizontal container */
._fxr { display: flex; flex-direction: row; }
/* horizontal reversed container */
._fxrr { flex-direction: row-reverse; }
/* horizontal children */
._fxr > * { width: 100%; height: auto; }

/* hidden element */
._fxh { display: none; }